@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: 'Asul', serif !important;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root button { /* Assuming your main app is inside an element with id "root" */
  font-family: 'Asul', serif !important; /* Use !important cautiously */
}
.asul-regular {
  font-family: "Asul", serif;
  font-weight: 400;
  font-style: normal;
}

.asul-bold {
  font-family: "Asul", serif;
  font-weight: 700;
  font-style: normal;
}


/* If there's another wrapping element, you might need to target it too */
.react-datepicker__input-container {
  display: block !important; /* Or inline-block, adjust as needed */
  padding: 0 !important;
  border: none !important;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
